@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  /* Primary colors */
  --blue: #00b0ff;
  --blue-active: #43c5ff;

  /* Neutral colors */
  --black: #2c2c2c;
  --gray: #9a9a9a;
  --stroke: #d4d4d4;
  --background: #f5f7fb;
  --white: #ffffff;
}

@theme inline {
  /* Primary colors */
  --color-blue: var(--blue);
  --color-blue-active: var(--blue-active);

  /* Neutral colors */
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-stroke: var(--stroke);
  --color-background: var(--background);
  --color-white: var(--white);

  /* Fonts */
  --font-sans: var(--font-manrope-sans);
}

@layer base {
  body {
    background: var(--background);
    color: var(--black);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  body {
    overflow: hidden;
  }

  html,
  body {
    height: 100%;
  }

  a {
    color: inherit;
  }

  iframe {
    height: inherit;
  }

  [disabled] {
    pointer-events: none;
  }

  [contenteditable] {
    user-select: text;
  }

  svg {
    vertical-align: top;
  }
}
